<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hertz Locker </title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> 
</head>

<body>
  <header>
    <h1>
      Welcome to Hertz-Locker
    </h1>
    
  </header>
  <main class="">
    {{{ body }}}
  </main>
  <footer>
  </footer>

  <!-- Render script for logged in users only -->
 {{#if logged_in}}
  <script src="logout.js"></script>
  {{/if}}
</body>

</html>
