<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sup homies </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/views/style.css">
</head>

<body>
  <header>
    <h1>
      <a href="/"></a>
    </h1>
    <nav class="navbar">

    </nav>
  </header>
  <main class="">
    {{{ body }}}
  </main>
  <footer>
    
  </footer>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
