<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <script src="../../models/calendar.js"></script>
<body>
  <header>
    <h1>
      <a href="/"></a>
    </h1>
    <nav class="navbar">

    </nav>
  </header>
  <main class="">
    <div id="calendar"></div>
  </main>
  <footer>
    
  </footer>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="../../public/logout.js"></script>
  {{/if}}
</body>

</html>
