<section class="hero is-info is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <div class="hero-body">
                        <div class="container has-text-centered">
                            <div class="column is-6 is-offset-3">
                                <h1 class="title">
                                    HERTZ - LOCKER
                                </h1>
                                <h2 class="subtitle">
                                    We schedule equipment rentals and offer a wide range of equipment for a variety of
                                    needs and
                                    situations.
                                </h2>
                                <nav>

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

</section>