<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HERTZ - LOCKER</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  
  <body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">

                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-blue is-outlined" href="#">
                                    <span class="icon">
                                        <i class="temp"></i>
                                    </span>
                                    <span>Calender</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-blue is-outlined" href="#">
                                    <span class="icon">
                                        <i class="temp"></i>
                                    </span>
                                    <span>Inventory</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-blue is-outlined" href="#">
                                    <span class="icon">
                                        <i class="temp"></i>
                                    </span>
                                    <span>Accounts</span>
                                </a>
                            </span>

                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            HERTZ - LOCKER
                        </h1>
                        <h2 class="subtitle">
                            We schedule equipment rentals and offer a wide range of equipment for a verity of needs and situations 
                        </h2>
                        <div class="box">
                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    <input class="input" type="text" placeholder="login goes here">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>
</body>
</html>